// Colors
$error-color: #f52c1d;
$default-color: #fefefe;
$default-background-color: #08aeea;

// Sizes
$default-border-radius: 12px;
$default-width: 450px;
$default-height: 250px;

// Fonts
$large-font-size: 2rem;
$medium-font-size: 1.5rem;
$normal-font-size: 1rem;
$small-font-size: 0.7rem;
